* {
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

html,
body {
    margin: 0;
    background-color: var(--color-bg-primary);
}

li, a {
    text-decoration: none;
}

p { 
    hyphens: auto; 
  }