/* styles for information text with title and text */

.info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 13.75rem;
    margin-bottom: 13.75rem;
}

.info-text-inner {
    max-width: 950px;
    text-align: center;
    animation: show-text linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes show-text {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.prefix {
      font-size: var(--font-size-prefix);
      letter-spacing: var(--font-ls-prefix);
}

.info-text-paragraph {
    color: var(--color-text-primary);
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-regular);
}