/* variables for css */ 

:root {

    /* colors */

        /* Background */
        --color-bg-primary: #1A1A1A;
        --color-bg-secondary: #303030;

        /* Accent */
        --color-primary: #C1121F;
        --color-secondary: #F26419;
        --color-accent: #960875;

        /* Text */
        --color-text-primary: #FFFFFF;
        --color-text-secondary: #AAAAAA;

        /* Border */
        --color-border: #AFAFAF;

    /* fonts */
    --font-family-heading: "Anton SC", "Inter", "Arial", sans-serif;
    --font-family-body: "Inter",  "Arial" , sans-serif;

    /* font weight */
    --font-weight-middle: 300;
    --font-weight-regular: 400;

    /* font size */
    --font-size-title-heading: 10rem;
    --font-size-text-heading: 4.375rem;
    --font-size-text: 1.563rem;
    --font-size-prefix: 1.563rem;

    /* letter spacing */
    --font-ls-navigation: -1px;
    --font-ls-prefix: 0.01em;

    /* line height */
    --line-height-title: 1.15;
    --line-height-paragraph: 1.70;
}