/* variables for css */ 

:root {

    /* colors */

        /* Background */
            --color-bg-primary: #1A1A1A;
            --color-bg-secondary: #303030;
            --color-bg-cards: #28282B;

            --color-bg-example: #F3712B;

            --color-bg-example-system-1: #1A2238;
            --color-bg-example-system-2: #9A73E3;

        /* Accent */
            --color-primary: #C1121F;
            --color-secondary: #F26419;
            --color-accent: #960875;

            --color-example-1: rgb(220, 20, 60);
            --color-example-2: rgb(20, 220, 187);
            --color-example-3: rgb(63, 20, 220);
            --color-example-4: rgb(220, 127, 20);
            --color-example-5: rgb(53, 220, 20);
            --color-example-6: rgb(213, 20, 220);

        /* Text */
            --color-text-primary: #FFFFFF;
            --color-text-secondary: #AAAAAA;

            --color-text-example: #f05ccd;

        /* Border */
            --color-border: #AFAFAF;
            
            --color-stroke-example: #636363;

    /* fonts */
        --font-family-heading: "Anton SC", "Inter", "Arial", sans-serif;
        --font-family-body: "Inter",  "Arial" , sans-serif;
        --font-family-satoshi: "Satoshi", "Inter", "Arial", sans-serif;

    /* font weight */
        --font-weight-light: 200;
        --font-weight-middle: 300;
        --font-weight-regular: 400;
        --font-weight-medium: 500;
        --font-weight-bold: 600;

    /* font size */
        --font-size-title-heading: 10rem;
        --font-size-principle: 6.25rem;
        --font-size-text-heading: 4.375rem;
        --font-size-footer-text: 3.125rem;
        --font-size-paratext: 1.875rem;
        --font-size-text: 1.563rem;
        --font-size-prefix: 1.563rem;

        --font-size-example: 5rem;

    /* letter spacing */
        --font-ls-navigation: -1px;
        --font-ls-prefix: 0.01em;
        --font-ls-text: 2%;
        --font-ls-footer: 0.15em;

    /* line height */
        --line-height-title: 1.15;
        --line-height-paragraph: 1.70;
        --line-height-text: 1.3;
}