/* styles for the second example on symbolism.html */

.wave {
    margin-top: 50px;
    width: 100%;
    height: 800px;
    background-image: url( './assets/images/dune-bg.svg' );
}

.wave svg{
    overflow: visible;
}

.dragon-body {
    font-size: 100px;
    font-family: var(--font-family-heading);
    fill: var(--color-text-primary);
}
